.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }


.profileBox {
    background-color: #136d29;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .name {
   
    margin-bottom: 10px;
  }
  
  .infoList {
    list-style-type: none;
    padding: 0;
  }
  
  .infoList li {
    margin-bottom: 8px;
  }